services:
  redis:
    image: redis:latest
    networks:
      - consulpam_network_dev
    volumes:
      - redis_data:/data
  rate-limiting-service: 
    image: ${USER_DOCKER}/micro-service-dev-consulpam:latest-rate
    env_file:
      - .env.rate_service
    networks:
      - consulpam_network_dev
    depends_on:
      - redis
    container_name: rate-limiting
  notify-service:
    image: ${USER_DOCKER}/micro-service-dev-consulpam:latest-notify
    env_file:
      - .env.notify_service
    networks:
      - consulpam_network_dev
    container_name: notify-service
    
volumes:
  redis_data:
networks:
  consulpam_network_dev:
    external: true
