version: "3.8"

services:
  api:
    image: ${DOCKERHUB_USERNAME}/backend-stage-consulpam:${GITHUB_SHA}
    depends_on:
      - postgres
    env_file:
      - .env.stage
    networks:
      - consulpam_network_dev
    container_name: consulpam-api-dev
    ports:
      - "3080:3000"
    
  front:
    image: ${DOCKERHUB_USERNAME}/front-end-dev-consulpam:latest
    env_file:
      - .env.dev_front
    depends_on:
      - api
    networks:
      - consulpam_network_dev
    container_name: consulpam-web-dev

    ports:
      - "3050:3000"
  postgres:
    image: postgres:16
    container_name: postgres_dev_db
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_DB: initial_db
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - pg_dev_data:/var/lib/postgresql/data
    networks:
      - consulpam_network_dev
  rabbitmq:
    image: rabbitmq:3.13-management-alpine
    env_file:
      - .env.rabbitmq
    networks:
      - consulpam_network_dev
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
  # pgadmin:
  #   image: dpage/pgadmin4
  #   container_name: pgadmin
  #   restart: always
  #   ports:
  #     - "8080:80"
  #   environment:
  #     PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
  #     PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
  #   expose:
  #     - "80"
  #   depends_on:
  #     - postgres
  #   networks:
  #     - consulpam_network_dev

volumes:
  pg_dev_data:
    name: staging_pg_dev_data
  rabbitmq_data:
    name: rabbitmq_dev_data
networks:
   consulpam_network_dev:
    external: true
